
.bold {
  font-weight: bold;
}
h2 {
  text-align: center;
}
.btn-spacing {
  margin-right: 20px; /* Khoảng cách giữa các nút */
  padding: 10px 20px; /* Làm cho nút đẹp hơn */
  border-radius: 5px; /* Bo góc nút */
  background-color: #007BFF; /* Màu nền của nút */
  color: white; /* Màu chữ */
  border: none; /* Loại bỏ viền */
  cursor: pointer; /* Thay đổi con trỏ khi hover */
}

.btn-spacing:hover {
  background-color: #0056b3; /* Màu nền khi hover */
}